@media screen and (max-width: 991px) {
    .listCards {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 767px) {
    .listCards {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.listCards {
    display: flex;
    padding: 0px 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.stockContainer{
    display: flex;
}
