.modal{
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(255,255,255,0.8);
}
.content{
    width: 200px;
    height: 100vh;
    background-color: grey;
}